<table th:fragment="tree_node(columns, rows)"
       th:if="${#lists.size(rows)} > 0"
       class="table table-centered table-nowrap mb-0 rounded table-hover">

  <thead class="thead-light" th:if="${rows[0].level} == 0">
  <tr>
    <th class="border-0"
        th:each="column, iter : ${columns}"
        th:text="${column.label}"
        th:classappend="${iter.index} == 0 ? rounded-start : ''"
        th:data-field="${column.columnName}"
    ></th>
    <th class="border-0 rounded-end">Operation</th>
  </tr>
  </thead>

  <tbody>
      <th:block th:each="row : ${rows}">
        <tr class="table-row">
          <td th:each="column, iter : ${columns}" th:class="'col-' + ${column.grid}">
            <span th:style="'margin-left: ' + ${row.level} + '.7rem'" th:if="${column.indent}"></span>


            <a th:if="${column.linkUrl} != ''"
               th:href="@{${column.linkUrl}(${column.linkParamKey}=${row.id})}"
               th:text="${row[column.columnName]}"></a>
            <span th:if="${column.linkUrl} == ''" th:text="${row[column.columnName]}"></span>
              <i class="bi bi-chevron-right"
                 role="button"
                 th:if="${row.hasChild} and ${column.indent}"
                 th:data-bs-toggle="${row.hasChild} ? 'collapse'"
                 th:data-bs-target="${row.hasChild} ? '#row-' + ${row.id}"
                 aria-expanded="false"></i>
          </td>

          <td class="col-2">
            <a class="me-2" th:href="@{${EDIT_URL}(id=${row.id})}">Edit</a>

            <div class="dropdown btn-group">
              <button class="btn btn-link text-danger dropdown-toggle m-0 p-0" type="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Delete
              </button>
              <ul class="dropdown-menu mt-2 py-1">
                <li>
                  <a class="dropdown-item" th:href="@{${DELETE_URL}(id=${row.id})}">
                    <i class="bi bi-exclamation-triangle me-2 text-danger"></i> Delete
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>

        <tr th:if="${row.hasChild}"
            th:id="'row-' + ${row.id}"
            th:classappend="'row-' + ${row.id}"
            class="table-row collapse">
          <td th:colspan="${#lists.size(columns)} + 1" class="p-0">
            <table th:replace="this::tree_node(${columns}, ${row.children})"></table>
          </td>
        </tr>
      </th:block>
  </tbody>
</table>