<div th:fragment="widget(widgetHtmlForms, position, copied)"
     class="card drag-item my-2"
     th:classappend="${copied} ? 'copied' : 'original'"
     draggable="true"
     th:each="widget: ${widgetHtmlForms}"
     th:with="formId='widget-' + ${widget.id} + '-' + ${widget.htmlForm.id}, previewId='preview-' + ${formId}, configId='config-' + ${formId}, collapseId='collapse-' + ${formId}"
     th:id="${formId}">
  <div class="card-header d-flex justify-content-between py-2">
    <span th:text="${widget.name}">Widget Name</span>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item ms-2">
        <i class="bi bi-eye-fill active preview-btn" role="button" data-bs-toggle="pill"
           th:data-bs-target="'#' + ${previewId}"
           th:aria-controls="${previewId}"></i>
      </li>
      <li class="nav-item ms-2">
        <i class="bi bi-gear-fill config-btn" role="button" data-bs-toggle="pill"
           th:data-bs-target="'#' + ${configId}"
           th:aria-controls="${configId}"></i>
      </li>
      <li class="nav-item ms-2">
        <i class="bi bi-chevron-right collapse-btn" role="button" data-bs-toggle="collapse" aria-expanded="false"
           th:data-bs-target="'#' + ${collapseId}"
           th:aria-controls="${collapseId}"></i>
      </li>
    </ul>
  </div>
  <div class="card-body collapse tab-content" th:id="${collapseId}">

    <div th:id="${previewId}" class="tab-pane active preview-body">
      <p class="card-text" th:text="${widget.description}">Widget Description</p>
      <img th:src="${widget.previewImageUrl}" class="mw-100"/>
    </div>

    <div th:id="${configId}" class="tab-pane fade config-body">
      <div th:each="group: ${widget.htmlForm.groups}">
        <h2 class="h5 mb-4" th:text="${group.key}" th:if="${group.key} != ''"></h2>
        <form class="source-form">
          <div th:replace="fragments/form_field:: formField(${group.value})"></div>
        </form>

        <form class="target-form"
              th:action="${WIDGET_INSTANCE_ADD_URL}"
              th:data-delete-url="${WIDGET_INSTANCE_DELETE_URL}"
              method="post">
          <input type="hidden" name="id" th:value="${widget.widgetInstance.id}">
          <input type="hidden" name="layoutId" th:value="${layoutId}">
          <input type="hidden" name="widgetId" th:value="${widget.id}">

          <input type="hidden" name="position" th:value="${position}">
          <input type="hidden" name="sort" th:value="${widget.widgetInstance.sort}">
          <input type="hidden" name="configuration" th:value="${widget.widgetInstance.configuration}">

          <button class="btn btn-primary btn-sm form-btn" type="submit">
            <i class="bi bi-save me-1"></i> Save
          </button>

          <div class="dropdown ms-2 form-btn">
            <button class="btn btn-danger btn-sm" type="button" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-trash"></i>
            </button>
            <ul class="dropdown-menu mt-2 py-1">
              <li>
                <button class="dropdown-item remove-btn-confirm" type="button" role="button">
                  Confirm
                </button>
              </li>
            </ul>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>