<div th:fragment="widget(widgetHtmlForms, position, copied)"
     class="card drag-item my-2"
     draggable="true"
     th:each="form: ${widgetHtmlForms}"
     th:classappend="${copied} ? 'copied'"
     th:with="formId='widget-' + ${form.widget.id} + '-' + ${form.widgetInstance.id}, previewId='preview-' + ${formId}, configId='config-' + ${formId}, collapseId='collapse-' + ${formId}"
     th:id="${formId}">
  <div class="card-header d-flex justify-content-between py-2">
    <div class="d-inline-block">
      <span th:text="${form.widget.name}">Widget Name</span>
      <i class="text-muted small" th:if="${form.isGlobal}">(global)</i>
    </div>
    <ul class="nav nav-pills" role="tablist">
      <li class="nav-item mb-0">
        <input type="number" step="1" class="form-control form-control-sm w-4rem sort-input m-0" th:value="${form.widgetInstance.sort}" th:disabled="${!form.allowSaving}" />
      </li>
      <li class="nav-item mb-0 ms-2">
        <i class="bi bi-eye-fill preview-btn" th:classappend="${!copied} ? 'active'"
           role="button" data-bs-toggle="pill"
           th:data-bs-target="'#' + ${previewId}"
           th:aria-controls="${previewId}"></i>
      </li>
      <li class="nav-item mb-0 ms-2">
        <i class="bi bi-gear-fill config-btn" th:classappend="${copied} ? 'active'"
           role="button" data-bs-toggle="pill"
           th:data-bs-target="'#' + ${configId}"
           th:aria-controls="${configId}"></i>
      </li>
      <li class="nav-item mb-0 ms-2">
        <i class="bi bi-chevron-right collapse-btn" role="button" data-bs-toggle="collapse" aria-expanded="false"
           th:data-bs-target="'#' + ${collapseId}"
           th:aria-controls="${collapseId}"></i>
      </li>
    </ul>
  </div>
  <div class="card-body collapse tab-content" th:id="${collapseId}">

    <div th:id="${previewId}" class="tab-pane preview-body"
         th:classappend="${!copied} ? 'active': 'fade'"
    >
      <p class="card-text" th:text="${form.widget.description}">Widget Description</p>
      <img th:src="${form.widget.previewImageUrl}" class="mw-100"/>
    </div>

    <div th:id="${configId}" class="tab-pane config-body"
         th:classappend="${copied} ? 'active' : 'fade'">
      <form class="source-form">
        <div th:each="group: ${form.htmlForm.groups}">
          <h2 class="h5 mb-4" th:text="${group.key}" th:if="${group.key} != ''"></h2>
            <div th:replace="fragments/form_field:: formField(${group.value})"></div>
        </div>
      </form>
      <form class="target-form"
            th:action="${WIDGET_INSTANCE_ADD_URL}"
            th:data-delete-url="${WIDGET_INSTANCE_DELETE_URL}"
            th:data-sort-url="${WIDGET_INSTANCE_SORT_URL}"
            method="post">
        <input type="hidden" name="id" th:value="${form.widgetInstance.id}">
        <input type="hidden" name="layoutId" th:value="${layoutId}">
        <input type="hidden" name="widgetId" th:value="${form.widget.id}">

        <input type="hidden" name="position" th:value="${position}">
        <input type="hidden" name="sort" th:value="${form.widgetInstance.sort}">
        <input type="hidden" name="configuration" th:value="${form.widgetInstance.configuration}">

        <button class="btn btn-primary btn-sm" type="submit" th:disabled="${!form.allowSaving}">
          <i class="bi bi-save me-1"></i> Save
        </button>

        <div class="dropdown ms-2 d-inline-block">
          <button class="btn btn-danger btn-sm" type="button" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false" th:disabled="${!form.allowSaving}">
            <i class="bi bi-trash"></i>
          </button>
          <ul class="dropdown-menu mt-2 py-1">
            <li>
              <button class="dropdown-item remove-btn-confirm" type="button" role="button">
                Confirm
              </button>
            </li>
          </ul>
        </div>

      </form>
    </div>

  </div>
</div>