<section class="section bg-gray-100">
  <div class="container">
    <div class="row justify-content-center section-heading">
      <div class="col-lg-6 text-center">
        <h3 class="h2 mt-2" th:text="${config.title}"></h3>
      </div>
    </div>
    <div class="row g-3">
      <div class="col-sm-6 col-lg-3" th:each="category: ${categories}">
        <div class="hover-scale">
          <div class="hover-scale-in">
            <a th:href="'/category/' + ${category.slug}">
              <img class="img-fluid" th:src="${termiConfig.uploadBaseUrl + category.image}" title="" alt="">
            </a>
          </div>
          <div class="text-center mx-4 mt-n5 position-relative z-index-1 bg-white shadow p-4">
            <h6 class="m-0">
              <a class="text-reset" th:href="'/category/' + ${category.slug}" th:text="${category.name}"></a>
            </h6>
            <small th:text="${category.productAmount} + ' Products'"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>