<footer th:fragment="footer" class="bg-dark footer">
  <div class="footer-top py-6">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 my-3">
          <div class="pb-3">
            <a href="index.html">
              <img th:src="@{/static/img/logo/logo-light.svg}" title="" alt="">
            </a>
          </div>
          <address class="white-link mb-4">
            <p class="text-white-85 mb-2">3909 Witmer Rd, Niagara Falls, <br />NY 14305, United States</p>
            <p class="mb-2"><a class="border-bottom border-secondary" href="mailto:Fancyshopping@gmail.com">Fancyshopping@gmail.com</a></p>
            <p class="mb-2"><a class="border-bottom border-secondary" href="tel:123-456-789">tel:123-456-789</a></p>
          </address>
          <div class="nav white-link fs-5">
            <a class="me-3" href="javascript:void(0);">
              <i class="bi bi-facebook"></i>
            </a>
            <a class="me-3" href="javascript:void(0);">
              <i class="bi bi-twitter"></i>
            </a>
            <a class="me-3" href="javascript:void(0);">
              <i class="bi bi-instagram"></i>
            </a>
            <a class="me-3" href="javascript:void(0);">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-2 my-3">
          <h6 class="text-white text-uppercase mb-5">
            Account
          </h6>
          <ul class="list-unstyled white-link footer-link-1 m-0">
            <li class="pb-2">
              <a href="login.html">Login</a>
            </li>
            <li class="pb-2">
              <a href="sign-up.html">Sing Up</a>
            </li>
            <li class="pb-2">
              <a href="my-account.html">My Account</a>
            </li>
            <li class="pb-2">
              <a href="shop.html">Shopping</a>
            </li>
            <li class="pb-2">
              <a href="blog.html">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-2 my-3">
          <h6 class="text-white text-uppercase mb-5">
            Support
          </h6>
          <ul class="list-unstyled white-link footer-link-1 m-0">
            <li class="pb-2">
              <a href="account-address.html">Address</a>
            </li>
            <li class="pb-2">
              <a href="account-profile.html">Profile</a>
            </li>
            <li class="pb-2">
              <a href="contact-us.html">Contact</a>
            </li>
            <li class="pb-2">
              <a href="account-tickets.html">Tickets</a>
            </li>
            <li class="pb-2">
              <a href="account-wishlist.html">Wishlist</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-lg-4 my-3">
          <h6 class="text-white text-uppercase mb-5">
            Stay up to date
          </h6>
          <p class="text-white-85">Fancy Shopping  trademark,Model.</p>
          <form>
            <div class="d-flex flex-column flex-md-row mb-2">
              <input type="email" class="form-control me-md-2 mb-2 mb-md-0" placeholder="Enter your username">
              <button class="btn btn-primary flex-shrink-0" type="button">Get Started</button>
            </div>
            <p class="text-white-85 m-0">New UI kits or big discounts. Never spam.</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-2 footer-border-top light small">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-start py-1">
          <p class="m-0 text-white-85">Copyright, 2021 © Fancy Shopping - HTML Ecommerce Template, <br/> Powered by <a href="https://themeforest.net/user/avs_technolabs/portfolio" target="_blank" class="text-reset">AVS Technolabs</a></p>
        </div>
        <div class="col-md-6 text-center text-md-end py-1">
          <img th:src="@{/static/img/payments.png}" title="" alt="">
        </div>
      </div>
    </div>
  </div>
</footer>