<div th:fragment="quick_view" class="modal-quick-view modal fade" id="px-quick-view" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <button class="btn-close position-absolute end-0 top-0 me-2 mt-2 z-index-1" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-body p-3">
        <div class="row">
          <!-- Product Gallery -->
          <div class="col-lg-6 lightbox-gallery product-gallery">
            <img th:src="@{/static/img/product-1.jpg}" class="img-fluid" title="" alt="">
          </div>
          <!-- End Product Gallery -->
          <!-- Product Details -->
          <div class="col-lg-6">
            <div class="product-detail pt-4">
              <div class="products-brand pb-2">
                <span>Brand name</span>
              </div>
              <div class="products-title mb-2">
                <h1 class="h4">Product Title Here</h1>
              </div>
              <div class="rating-star text small pb-4">
                <i class="bi bi-star-fill active"></i>
                <i class="bi bi-star-fill active"></i>
                <i class="bi bi-star-fill active"></i>
                <i class="bi bi-star-fill active"></i>
                <i class="bi bi-star"></i>
                <small>(4 Reviews )</small>
              </div>
              <div class="product-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisic elit eiusm tempor incidid ut labore et dolore magna aliqua. Ut enim ad minim venialo quis nostrud exercitation ullamco</p>
              </div>
              <div class="product-attribute">
                <label class="fs-6 text-dark pb-2 fw-500">Size</label>
                <div class="nav-thumbs nav mb-3">
                  <div class="form-check radio-text form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="size3" id="xs2" checked="">
                    <label class="radio-text-label" for="xs2">XS</label>
                  </div>
                  <div class="form-check radio-text form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="size3" id="s2">
                    <label class="radio-text-label" for="s2">S</label>
                  </div>
                  <div class="form-check radio-text form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="size3" id="m2">
                    <label class="radio-text-label" for="m2">M</label>
                  </div>
                  <div class="form-check radio-text form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="size3" id="l2">
                    <label class="radio-text-label" for="l2">L</label>
                  </div>
                </div>
                <label class="fs-6 text-dark pb-2 fw-500">Color</label>
                <div class="nav-thumbs nav mb-3">
                  <div class="form-check radio-color large form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="color1" id="color1" checked="">
                    <label class="radio-color-label" for="color1">
                      <span style="background-color: #126532;"></span>
                    </label>
                  </div>
                  <div class="form-check radio-color large form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="color1" id="color2">
                    <label class="radio-color-label" for="color2">
                      <span style="background-color: #ff9922;"></span>
                    </label>
                  </div>
                  <div class="form-check radio-color large form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="color1" id="color3">
                    <label class="radio-color-label" for="color3">
                      <span style="background-color: #326598;"></span>
                    </label>
                  </div>
                  <div class="form-check radio-color large form-check-inline me-2">
                    <input class="form-check-input" type="radio" name="color1" id="color4">
                    <label class="radio-color-label" for="color4">
                      <span style="background-color: #126578;"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="product-price fs-3 fw-500 mb-2">
                <del class="text-muted fs-6">$38.<small>50</small></del>
                <span class="text-primary">$28.<small>50</small></span>
              </div>
              <div class="product-detail-actions d-flex flex-wrap pt-3">
                <div class="cart-qty me-3 mb-3">
                  <div class="dec qty-btn">-</div>
                  <input class="cart-qty-input form-control" type="text" name="qtybutton" value="1">
                  <div class="inc qty-btn">+</div>
                </div>
                <div class="cart-button mb-3 d-flex">
                  <a href="shopping-cart.html" class="btn btn-dark me-3">
                    <i class="bi bi-cart"></i>
                    Add to cart
                  </a>
                  <a href="wishlist.html" class="btn btn-outline-primary me-3" >
                    <i class="bi bi-heart"></i>
                  </a>
                  <a href="shop-compare.html" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Product Details -->
        </div>
      </div>
    </div>
  </div>
</div>