<th:block th:fragment="scripts">
    <!-- jquery -->
    <script th:src="@{/static/js/jquery-3.5.1.min.js}"></script>
    <!-- appear -->
    <script th:src="@{/static/vendor/appear/jquery.appear.js}"></script>
    <!--bootstrap-->
    <script th:src="@{/static/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- slick carousel -->
    <script th:src="@{/static/vendor/slick/slick.min.js}"></script>
    <!-- magnific -->
    <script th:src="@{/static/vendor/magnific/jquery.magnific-popup.min.js}"></script>
    <!-- isotope -->
    <script th:src="@{/static/vendor/isotope/isotope.pkgd.min.js}"></script>
    <!-- count-down -->
    <script th:src="@{/static/vendor/count-down/jquery.countdown.min.js}"></script>
    <!-- Theme Js -->
    <script th:src="@{/static/js/custom.js}"></script>
</th:block>