<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head(${title})"></head>
<body>

<nav th:replace="fragments/left_navbar_button:: left_navbar_button"></nav>
<nav th:replace="fragments/left_navbar:: left_navbar"></nav>

<main class="content">
  <nav th:replace="fragments/top_navbar:: top_navbar(${title})"></nav>

  <div class="row d-flex justify-content-center my-6">
    <div class="col-12 col-md-10 col-xl-8">
      <div th:replace="fragments/message:: message"></div>

      <form action="" method="post" id="mainForm" th:object="${entity}">
        <div class="card card-body border-0 shadow mb-4" th:each="group: ${form.groups}">
          <h2 class="h5 mb-4" th:text="${group.key}"></h2>
          <div th:replace="fragments/form_field:: formField(${group.value})"></div>
        </div>

        <div class="mt-2 mb-4">
          <button type="submit" class="btn btn-secondary">
            Save
          </button>
          <a class="btn btn-gray-300" th:unless="${parentId}" th:href="${BASE_URL}">
            Back
          </a>

          <a class="btn btn-gray-300" th:if="${parentId}" th:href="@{${BASE_URL}(parentId=${parentId})}">
            Back
          </a>
        </div>
      </form>
    </div>

  </div>

</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    var uploadBaseUrl = /*[[${setting.uploadBaseUrl}]]*/ '';
    /*]]>*/
</script>

<!--/*/ <th:block th:replace="fragments/scripts :: scripts"> /*/-->
<!--/*/ </th:block> /*/-->

<!-- Quill library -->
<script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
<!-- dropzone -->
<script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/scripts/choices.min.js"></script>

<script th:src="@{/js/termi-admin.js}"></script>

<script type="application/javascript">
    Dropzone.autoDiscover = false;
    let selectObjects = {}

    /* Select */
    const refreshSelect = function (btn) {
        const selectId = btn.getAttribute('data-select-id');
        const selectEl = document.getElementById(selectId);
        const dataUrl = selectEl.getAttribute("data-url");
        const initValue = selectEl.getAttribute("data-value");
        loadSelectOptions(selectId, dataUrl, initValue);
    }

    const initSelect = function () {
        let selectElements = document.getElementsByClassName("form-select");
        Array.from(selectElements).forEach(function (selectEl) {
            const dataUrl = selectEl.getAttribute("data-url");
            const searchable = selectEl.getAttribute("data-searchable") === 'true';
            const initValue = selectEl.getAttribute("data-value");

            const selectObject = new Choices(selectEl, {
                searchEnabled: selectEl.multiple || searchable,
                searchChoices: selectEl.multiple || searchable,
                shouldSort: false,
                allowHTML: true,
                removeItemButton: !selectEl.required,
                classNames: {
                    containerOuter: 'choices mb-0 w-75',
                    containerInner: 'choices__inner rounded-start'
                }
            });

            const selectId = selectEl.id;
            selectObjects[selectId] = selectObject;
            loadSelectOptions(selectId, dataUrl, initValue);
        });
    }

    const loadSelectOptions = async (selectId, dataUrl, initValue) => {
        const selectObject = selectObjects[selectId];
        const data = await fetch(dataUrl)
            .then(function (response) {
                return response.json();
            })
            .then(function (options) {
                return options.map(function (option) {
                    return {
                        label: option.label,
                        value: option.value,
                        selected: (option.value === initValue)
                    };
                });
            });

        selectObject.clearStore();
        selectObject.setChoices(data, "value", "label", true);
    }

    const initSlug = function () {
        var slugElements = document.getElementsByName("slug");
        var nameElements = document.getElementsByName("name");

        if (slugElements.length !== 1 || nameElements.length !== 1) {
            return;
        }

        var slugEl = slugElements[0];
        var slugHasInitialValue = (slugEl.value.trim().length !== 0);
        nameElements[0].addEventListener("input", function () {
            if (slugHasInitialValue) {
                // do not change slug if it has had value
                return;
            }

            slugEl.value = this.value
                .replace(/\W+/ig, "-")
                .replace(/-{2,}/, "-")
                .trimSlash()
                .toLowerCase();
        })
    }

    window.onload = function () {
        initSelect();
        setupRichTextEditor(document);
        setupImageDropzone();
        initSlug();
    }

</script>

</body>
</html>