<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head(${title})">
  <title>Dashboard</title>
</head>
<body>

<nav th:replace="fragments/left_navbar_button:: left_navbar_button"></nav>

<nav th:replace="fragments/left_navbar:: left_navbar"></nav>

<main class="content">
  <nav th:replace="fragments/top_navbar:: top_navbar(${title})"></nav>

  <div class="row my-6">
    <div class="col-12 col-xl-9">
      <div class="card card-body border-0 shadow mb-4">
        <!-- TOP -->
        <div class="row">
          <div class="drop-area drop-top col-12 py-4" id="top">
            <div th:replace="fragments/widget:: widget(${topHtmlForms}, 'TOP', true)"></div>
          </div>
        </div>

        <div class="row my-3">
          <!-- LEFT -->
          <div class="drop-area drop-left col-3 py-4" id="left">
            <div th:replace="fragments/widget:: widget(${leftHtmlForms}, 'LEFT', true)"></div>
          </div>


          <!-- CENTER -->
          <div class="drop-area drop-center col-6 py-4" id="center">
            <div th:replace="fragments/widget:: widget(${centerHtmlForms}, 'CENTER', true)"></div>
          </div>

          <!-- RIGHT -->
          <div class="drop-area drop-right col-3 py-4" id="right">
            <div th:replace="fragments/widget:: widget(${rightHtmlForms}, 'RIGHT', true)"></div>
          </div>
        </div>

        <!-- BOTTOM -->
        <div class="row">
          <div class="drop-area drop-bottom col-12 py-4" id="bottom">
            <div th:replace="fragments/widget:: widget(${bottomHtmlForms}, 'BOTTOM', true)"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-3">
      <div class="row px-3">
        <div class="card card-body border-0 shadow mb-4">
          <div th:replace="fragments/widget:: widget(${widgetForms}, '', false)"></div>
        </div>
      </div>
    </div>
  </div>
</main>


<!--/*/<th:block th:replace="fragments/scripts :: scripts">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--/*/</th:block>/*/-->

<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/lib/codemirror.min.js"></script>

<script type="application/javascript">
    setupDragElements();
    setupHtmlEditor(document);
    setupWidgetSourceForm();
    setupWidgetTargetForm();

    setupDropArea((ev) => {
        let copiedNode = drop(ev);
        setupDragElements();
        setupHtmlEditor(copiedNode);
        setupWidgetSourceForm();
        setupWidgetTargetForm();
    });
</script>

</body>
</html>
