<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head(${title})">
  <title>Dashboard</title>
</head>
<body>

<nav th:replace="fragments/left_navbar_button:: left_navbar_button"></nav>

<nav th:replace="fragments/left_navbar:: left_navbar"></nav>

<main class="content">
  <nav th:replace="fragments/top_navbar:: top_navbar(${title})"></nav>

  <div class="row my-6">
    <div class="col-12 col-xl-9">
      <div class="card card-body border-0 shadow mb-4">
        <!-- TOP -->
        <div class="row">
          <div class="drop-area drop-top col-12 pt-2 pb-4" id="top">
            <div class="form-check form-switch d-flex justify-content-end mb-4">
              <input class="form-check-input layout-switch"
                     role="button"
                     type="checkbox"
                     th:checked="${layout.topEnabled} == true"
                     th:value="true"
                     data-position="TOP"
                     name="topEnabled" />
            </div>
            <div th:replace="fragments/widget:: widget(${topHtmlForms}, 'TOP', true)"></div>
          </div>
        </div>

        <div class="row my-3">
          <!-- LEFT -->
          <div class="drop-area drop-left col-3 pt-2 pb-4" id="left">
            <div class="form-check form-switch d-flex justify-content-end mb-4">
              <input class="form-check-input layout-switch"
                     role="button"
                     type="checkbox"
                     th:checked="${layout.leftEnabled} == true"
                     th:value="true"
                     data-position="LEFT"
                     name="leftEnabled" />
            </div>
            <div th:replace="fragments/widget:: widget(${leftHtmlForms}, 'LEFT', true)"></div>
          </div>


          <!-- CENTER -->
          <div class="drop-area drop-center col-6 pt-2 pb-4" id="center">
            <div class="form-check form-switch d-flex justify-content-end mb-4">
              <input class="form-check-input layout-switch"
                     role="button"
                     type="checkbox"
                     th:checked="${layout.centerEnabled} == true"
                     th:value="true"
                     data-position="CENTER"
                     name="centerEnabled" />
            </div>
            <div th:replace="fragments/widget:: widget(${centerHtmlForms}, 'CENTER', true)"></div>
          </div>

          <!-- RIGHT -->
          <div class="drop-area drop-right col-3 pt-2 pb-4" id="right">
            <div class="form-check form-switch d-flex justify-content-end mb-4">
              <input class="form-check-input layout-switch"
                     role="button"
                     type="checkbox"
                     th:checked="${layout.rightEnabled} == true"
                     th:value="true"
                     data-position="RIGHT"
                     name="rightEnabled" />
            </div>
            <div th:replace="fragments/widget:: widget(${rightHtmlForms}, 'RIGHT', true)"></div>
          </div>
        </div>

        <!-- BOTTOM -->
        <div class="row">
          <div class="drop-area drop-bottom col-12 pt-2 pb-4" id="bottom">
            <div class="form-check form-switch d-flex justify-content-end mb-4">
              <input class="form-check-input layout-switch"
                     role="button"
                     type="checkbox"
                     th:checked="${layout.bottomEnabled} == true"
                     th:value="true"
                     data-position="BOTTOM"
                     name="bottomEnabled" />
            </div>
            <div th:replace="fragments/widget:: widget(${bottomHtmlForms}, 'BOTTOM', true)"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-xl-3">
      <div class="row px-3">
        <div class="card card-body border-0 shadow mb-4">
          <div th:replace="fragments/widget:: widget(${widgetHtmlForms}, '', false)"></div>
        </div>
      </div>
    </div>
  </div>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    let layoutId = /*[[${layout.id}]]*/ '';
    let uploadBaseUrl = /*[[${termiConfig.uploadBaseUrl}]]*/ '';
    let layoutTriggerApi = /*[[${TRIGGER_API}]]*/ '';
    /*]]>*/
</script>
<script src="https://cdn.jsdelivr.net/npm/choices.js@10.2.0/public/assets/scripts/choices.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.3/dist/dropzone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/lib/codemirror.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/mode/javascript/javascript.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/mode/xml/xml.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/mode/css/css.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/mode/htmlmixed/htmlmixed.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/addon/selection/active-line.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/addon/edit/matchbrackets.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/addon/display/fullscreen.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.65.10/addon/display/autorefresh.js "></script>
<script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>

<!--/*/<th:block th:replace="fragments/scripts :: scripts">/*/-->
<!--/*/</th:block>/*/-->

<script th:src="@{/js/termi-admin.js}"></script>

<script type="application/javascript">
    Dropzone.autoDiscover = false;
    setupDragElements();
    setupHtmlEditor(document);
    setupRichTextEditor(document);
    setupWidgetSourceForm();
    setupWidgetTargetForm();
    setupRemoveButton((url) => deleteData(url));
    setupSortInputs();
    setupWidgetInstanceNames();
    setupImageDropzone();
    setupSelect(document);
    triggerLayout(layoutTriggerApi, layoutId);

    setupDropArea((ev) => {
        let result = drop(ev);
        setupDragElements();
        setupWidgetSourceForm();
        setupWidgetTargetForm();
        setupSortInputs();
        setupWidgetInstanceNames();
        setupRemoveButton((url) => deleteData(url));
        setupImageDropzone();

        if (result.action === "copy") {
            setupHtmlEditor(result.el);
            setupRichTextEditor(result.el);
            setupSelect(result.el);
            removeDisabled(result.el);
        }

        let droppedForm = result.el.querySelector(widgetTargetFormSelectors);
        result.action !== null && saveForm(droppedForm);
    });
</script>

</body>
</html>
